

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Variables --------*/
:root {
--morado--color:#A10BDF;
--blanco--color:white;

/*espaciado-----*/
--space:10px;

/*Fuentes tamaño*/
--normal:12px;
--media:17px;

/*Sombra de las cajas*/
--caja:0 0 5px #504242;
}

/* Fin Variables-----*/

/* Comienzo atributos generales de HTML-----*/
html,body
{
  padding: 0px;
  margin: 0px;
  font-size: Var(--normal);
  font-family: helvetica;
}

nav{
  display: flex;
  background-color: Var(--morado--color);
  padding: Var(--space);
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  color: white;
}

nav li{
    padding-left:15px;
    list-style: none;
    color: white;

}

nav li a{
    color: black;
    text-decoration:none;
}

nav li a:hover{
    color: white;
}

label {
  font-size:Var(--normal);
  font-family: serif;
  padding-top: 6px;
}

/* FIN atributos generales de HTML-----*/

/*-------------------main----------------------*/

.main_section{
  padding: 2%;
  text-align: center;
}

.products {

  background-image: url("../Imagenes/abc.jpg");
  height: 50px;
  background-size:contain;
  background-position: center bottom;
  padding: 10%;
  display: flex;
  justify-content: center;
}

.producto{
  background-position: center;
  padding: 20px;
  margin-top: -160px;
}

.producto .contenedor{
background-color: white;
padding: 20px;
box-shadow: 0 0 5px #504242;
}

.img_content{
  text-align: center;
}

.main_button{
  background-color:Var(--morado--color);
  width: 100%;
  padding: Var(--space);
  font-size: Var(--media);
  color: white;
  box-shadow: 0 0 5px #504242;
  text-align: center;
}

.main_button:hover{
  background-color:#907d98;
}

/*-------------------Los 3 mas----------------------*/

.losmas {

  height: 50px;
  background-size:contain;
  background-position: center bottom;
  padding: 14%;
  display: flex;
  justify-content: center;
}

.treselementos{
  background-position: center;
  padding: 40px;
  margin-top: -100px;
}

.treselementos .elemento{
background-color: white;
padding: 20px;
text-align: center;

}

.img_element{
  text-align: center;
}

/*-------------------MENCIONES----------------------*/

.rotulo_menciones {
  height: 50px;
  font-size: 20px;
  font-style: oblique;
  background-size:contain;
  background-position: center bottom;
  display: flex;
  justify-content: center;
}

.menciones {
  height: 50px;
  background-size:contain;
  background-position: center bottom;
  padding: 10%;
  display: flex;
  justify-content: center;
}

.cuatrofotos{
  background-position: center;
  padding: 40px;
  margin-top: -160px;
}

.cuatrofotos .foto{
background-color: white;
padding: 20px;
text-align: center;

}

.img_foto{
  text-align: center;
}

/*-------------------page PAGOS ----------------------*/

.imagen_mod_pago{
  max-width: 100px;
  text-align: center;
  margin: auto;
}

.Modulo_Pago{
  background-color: white;
  box-shadow: 0 0 5px #504242;
  padding: 10px;
}
/* el tamaño y fuente de la etiquetas del Formulario
están en la sección atributos generales de HTML-----*/


.Modulo_Pago input {
width: 100%;
height: 35px;
border-radius: 4px;
border: 1px solid black;
box-sizing: border-box;
}


.Modulo_Pago .main_button{
  margin-top: 20px;
}


/*-------------------FIN page PAGOS ----------------------*/
