

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Variables --------*/
:root {
--morado--color:#A10BDF;
--blanco--color:white;

/*espaciado-----*/
--space:10px;

/*Fuentes tamaño*/
--normal:12px;
--media:17px;

/*Sombra de las cajas*/
--caja:0 0 5px #504242;
}

/* Variables-----*/

html,body
{
  padding: 0px;
  margin: 0px;
  font-size: Var(--normal);
  font-family: helvetica;
}

nav{
  display: flex;
  background-color: Var(--morado--color);
  padding: Var(--space);
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  color: white;
}

nav li{
    padding-left:15px;
    list-style: none;
    color: white;

}

nav li a{
    color: black;
    text-decoration:none;
}

nav li a:hover{
    color: white;
}
/*-------------------main----------------------*/

.main_section{
  padding: 2%;
  text-align: center;
}

.products {

  background-image: url("../Imagenes/abc.jpg");
  height: 50px;
  background-size:contain;
  background-position: center bottom;
  padding: 10%;
  display: flex;
  justify-content: center;
}

.producto{
  background-position: center;
  padding: 20px;
  margin-top: -160px;
}

.producto .contenedor{
background-color: white;
padding: 20px;
box-shadow: 0 0 5px #504242;
}

.img_content{
  text-align: center;
}

.main_button{
  background-color:Var(--morado--color);
  width: 100%;
  padding: Var(--space);
  font-size: Var(--media);
  color: white;
  box-shadow: 0 0 5px #504242;
  text-align: center;
}

.main_button:hover{
  background-color:#907d98;
}

/*-------------------Los 3 mas----------------------*/

.losmas {

  height: 50px;
  background-size:contain;
  background-position: center bottom;
  padding: 20%;
  display: flex;
  justify-content: center;
}

.treselementos{
  background-position: center;
  padding: 40px;
  margin-top: -100px;
}

.treselementos .elemento{
background-color: white;
padding: 20px;
text-align: center;

}

.img_element{
  text-align: center;
}
