
body {
  background-color:Var(--morado--color);
  text-align: center;
  height: 100vh;
}
.content_paypal {
  background-position: center;
  text-align: center;
  justify-content: center;
}

.content_paypal a {
color: white;
}
